body {
    overflow-x: hidden;
}
img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -2;
    background-size: contain;
}

.hidden {
    display: none;
}

#bgdark {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    background-color: black;
    opacity: 0%;
}

h1 {
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 25%;
    color:#fff;
}

#clock {
    color:#fff;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
    top: 28%;
    font-size: 4rem;
}

#login-form input {
    position: absolute;
    left: 37.3%;
    top: 42%;
    width: 430px;
    height: 70px;
    border: 0;
    background-color: transparent;
    font-size: 2.5rem;
    color: white;
}

#login-form input::placeholder {
    color: white;
    font-size: 3rem;
}

#greeting {
    position: absolute;
    left: 42%;
    top: 39%;
    width: 430px;
    height: 70px;
    font-size: 3rem;
    color: white;
}

#plan-list {
    list-style: none;
    position: absolute;
    left: 32.45%;
    top: 58%;
    width: 560px;
    height: 80px;
}

#plan-list li {
    float: left;
    margin-right: 20px;
    font-size: 1.5rem;
    color: white;
}

#plan-list li button {
    background-color: rgba(0,0,0,0);
    border: 0;
    transform: translateY(-28%);
}

#plan-form input{
    position: absolute;
    left: 37.3%;
    top: 52%;
    width: 430px;
    height: 60px;
    border: 0;
    background-color: transparent;
    font-size: 2rem;
    color: white;
}

#plan-form input::placeholder {
    text-align: center;
    color: white;
    font-size: 2rem;
}

#song {
    position: absolute;
    bottom: 0%;
    text-align: center;
    margin: auto;
    width: 100%;
}

#song span {
    font-size: 1.2rem;
    color: white;
}

#weather {
    text-align: right;
    color:white;
}